<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Edit that animal</title>
</head>
<body>
     <h2>Edit <%= animal.name %></h2>
     <hr>

     <form action="/animal/edit/<%= animal.id %>" method="post">
          <div class="form_group">
               <label for="name">Edit New Name: </label>
               <input type="text" name="name" placeholder="<%= animal.name %>">
          </div>
          <div class="form_group">
               <label for="legs">Edit Legs: </label>
               <input type="number" name="legs" placeholder="<%= animal.legs %>">
          </div>
          <input type="submit" value="Submit Changes">
     </form>
</body>
</html>
