<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Quotes</title>
</head>
<body>
     <h3>Here are the quotes</h3>

     <br>
     <br>

     <% for (var i in quotes) { %>
          <p>"<%= quotes[i].quote %>"</p>
          <p> -<%= quotes[i].name %> at <%= quotes[i].createdAt %> </p>
          <hr>
     <% } %>
     <br>
     <form action="/dogs/new" method="post">
          <input type="submit" value="Home">
     </form>
</body>
</html>
